<nav class="navbar navbar-expand-md bg-body-light border-bottom sticky-top">
  <div class="container-fluid">
    <a class="navbar-brand ps-2 fw-semibold fs-4" href="/" style="margin-right: 80px;">YOGAVEER</a>

    <button class="navbar-toggler" type="button" data-bs-toggle="collapse" data-bs-target="#navbarNavAltMarkup">
      <span class="navbar-toggler-icon"></span>
    </button>

    <div class="collapse navbar-collapse" id="navbarNavAltMarkup">
      <div class="navbar-nav d-flex flex-wrap gap-2 align-items-center">
        <!-- Left-aligned navigation links -->
        <a class="nav-link px-2" href="/">Aspirants</a>
        <a class="nav-link px-2" href="/lessons/new">Add Lesson (Aspirants)</a>

        <a class="nav-link px-2" href="/working_professionals">Working Professionals</a>
        <a class="nav-link px-2" href="/working_professionals/lessons/new">Add Lesson (Working)</a>

        <a class="nav-link px-2" href="/seniorcitizen">Senior Citizens</a>
        <a class="nav-link px-2" href="/seniorcitizen/lessons/new">Add Lesson (Senior)</a>

        <!-- Right-aligned actions -->
        <div class="ms-auto d-flex gap-2">
          <a href="/courses/admin/referral_stats" class="nav-link">
            📊 Referral Stats
          </a>
          <a href="/user" style="margin-left: 40px;" class="btn btn-outline-dark btn-sm">User View</a>
          <a href="/auth/logout" class="btn btn-outline-danger btn-sm">Logout</a>
        </div>
      </div>
    </div>
  </div>
</nav>
