<nav class="navbar navbar-expand-lg yogaveer-navbar fixed-top">
  <div class="container">
    <span class="navbar-brand">
      YOGAVEER
    </span>

    <!-- Toggle button for mobile -->
    <button class="navbar-toggler" type="button" data-bs-toggle="collapse" data-bs-target="#navbarSupportedContent"
      aria-controls="navbarSupportedContent" aria-expanded="false" aria-label="Toggle navigation">
      <span class="navbar-toggler-icon"></span>
    </button>
  </div>
</nav>
<style>
  /* style.css */

.yogaveer-navbar {
  background-color: rgba(255, 255, 255, 0.347);
  backdrop-filter: blur(8px);
  box-shadow: 0 2px 10px rgba(0, 0, 0, 0.1);
}

.yogaveer-navbar .navbar-brand {
  font-weight: 700;
  font-size: 1.6rem;
  color: rgb(1, 24, 45);
  padding-left: 1px;
}

</style>